@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
    /*Font-Family*/
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Satisfy', monospace;
    --third-font: 'Dancing Script', sans-serif;
    /*Colors*/
    --color-primary: #333;
    --one-color: #fff;
    --color-blk: rgba(131, 131, 131, 0.2);
    --second-color: rgb(38, 139, 240);
    --second-alpha-color: rgb(38, 139, 240,0.5);;
}

/**reset styles**/

html {
    scroll-behavior: smooth;
<<<<<<< HEAD
    scroll-padding-top: auto;

=======
    scroll-padding-top: 8vh;
>>>>>>> f48f3ff (Merge main dentro develop)
}

body {
    background-image: linear-gradient(to bottom, #434343 0%, #111 20%) !important;
    color: var(--one-color);
    font-family: var(--font-primary);
}


section {
    margin-top: .5rem;
}

/*** Style Bootstrap ***/
.btn {
    color: var(--one-color);
}

.btn:hover {
    background-color: var(--second-alpha-color);

}

.dropdown-item {
    transition: all 0.5s ease-out;
}

.dropdown-item:hover {
    color: var(--second-alpha-color);
}


.navbar-dark .navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28 106, 90, 205' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transition: all .3s ease-out;

}


.navbar-dark .navbar-toggler:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28106, 90, 205, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: 0.75;
}

.nav-item {
    transition: all .3s ease-out;
}

.nav-item:hover {
    background-color: var(--second-alpha-color);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: none;
    /* o outline: 0; */
    box-shadow: 0 0 0;
}


.nav-link {
    color: var(--second-color);
    margin-left: 0.5rem;
}

/*** my styles***/

.contenedor_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/***Header*/

.logo{
    height: 80px;
    width: auto;
}

.bg-grad {

    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;

}

/**Nosotros*/

.presentacion {
    background: url('assets/fondo1.png') no-repeat center center / cover;
    flex-direction: column;
    height: auto;
    max-width: 100%;
    text-align: center;

}

.presentacion h1 {
    font-family: var(--third-font);
}

hr {
    width: 45%;
}


#servicios-plomeria h4 {
    color: var(--second-color);
}

#servicios-gasista h4 {
    color: var(--second-color);
}

.separador_1 {
    text-align: center;
    background-color: var(--color-blk);
    padding: 2rem;
}

.separador_1 img {
    width: 40%;
}

/*Consultas*/

#whatsapp img {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}


#whatsapp {
    position: fixed;
    bottom: 3vh;
    right: 1vw;
}

/*Medios de pago*/



#medios-pago img {
    max-width: 30%;
    height: 50%;
}


/*Nosotros*/

#contacto {
    padding: 2rem;
    height: 400px;
    background: url('assets/separador-2.png') no-repeat center center / contain;
    text-align: center;
    scroll-padding-top: 8rem;

}

.bg-second-color {
    background-color: var(--second-color);
}

.bg-second-alpha-color {
    background-color: var(--second-alpha-color);
}



/*Footer*/
footer {
    height: 100px;
    gap: .5rem;
    background-color: var(--color-blk);
    margin-top: 2rem;
}

footer a {
    color: var(--color-scondary);
    text-decoration: none;
    margin-left: 1rem;
    transition: all .3s ease-out;

}

footer a:hover {
    color: var(--second-alpha-color);

}



/*  X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .nav-link {
        color: var(--one-color);
    }

    .nav-link:hover {
        color: var(--second-alpha-color);

    }

    .nav-item:hover {
        background-color: transparent;
    }
}


/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}